scripts/step_function.json
{
  "Comment": "Real-Time Event-Driven Data Pipeline for an E-Commerce shop",
  "StartAt": "Validate Step",
  "States": {
    "Validate Step": {
      "Type": "Parallel",
      "Branches": [
        {
          "StartAt": "Validate Orders",
          "States": {
            "Validate Orders": {
              "Type": "Task",
              "Resource": "arn:aws:states:::ecs:runTask.sync",
              "Parameters": {
                "Cluster": "ecommerce-pipeline-cluster",
                "TaskDefinition": "validate-task",
                "LaunchType": "FARGATE",
                "NetworkConfiguration": {
                  "AwsvpcConfiguration": {
                    "Subnets": [
                      "subnet-0d8436345ee46b7b8",
                      "subnet-0c258e856f0e04aca"
                    ],
                    "SecurityGroups": ["sg-0222dcff8c650af7c"],
                    "AssignPublicIp": "ENABLED"
                  }
                },
                "Overrides": {
                  "ContainerOverrides": [
                    {
                      "Name": "validate-container",
                      "Environment": [
                        {
                          "Name": "FILE_PATH",
                          "Value.$": "$.processedFiles.orders"
                        }
                      ]
                    }
                  ]
                }
              },
              "ResultPath": "$.validateOutput.orders",
              "End": true
            }
          }
        },
        {
          "StartAt": "Validate Order Items",
          "States": {
            "Validate Order Items": {
              "Type": "Task",
              "Resource": "arn:aws:states:::ecs:runTask.sync",
              "Parameters": {
                "Cluster": "ecommerce-pipeline-cluster",
                "TaskDefinition": "validate-task",
                "LaunchType": "FARGATE",
                "NetworkConfiguration": {
                  "AwsvpcConfiguration": {
                    "Subnets": [
                      "subnet-0d8436345ee46b7b8",
                      "subnet-0c258e856f0e04aca"
                    ],
                    "SecurityGroups": ["sg-0222dcff8c650af7c"],
                    "AssignPublicIp": "ENABLED"
                  }
                },
                "Overrides": {
                  "ContainerOverrides": [
                    {
                      "Name": "validate-container",
                      "Environment": [
                        {
                          "Name": "FILE_PATH",
                          "Value.$": "$.processedFiles.order_items"
                        }
                      ]
                    }
                  ]
                }
              },
              "ResultPath": "$.validateOutput.order_items",
              "End": true
            }
          }
        }
      ],
      "ResultPath": "$.validateResults",
      "Next": "Transform Step"
    },
    "Transform Step": {
      "Type": "Parallel",
      "Branches": [
        {
          "StartAt": "Transform Orders",
          "States": {
            "Transform Orders": {
              "Type": "Task",
              "Resource": "arn:aws:states:::ecs:runTask.sync",
              "Parameters": {
                "Cluster": "ecommerce-pipeline-cluster",
                "TaskDefinition": "transform-task",
                "LaunchType": "FARGATE",
                "NetworkConfiguration": {
                  "AwsvpcConfiguration": {
                    "Subnets": [
                      "subnet-0d8436345ee46b7b8",
                      "subnet-0c258e856f0e04aca"
                    ],
                    "SecurityGroups": ["sg-0222dcff8c650af7c"],
                    "AssignPublicIp": "ENABLED"
                  }
                },
                "Overrides": {
                  "ContainerOverrides": [
                    {
                      "Name": "transform-container",
                      "Environment": [
                        {
                          "Name": "INPUT_FILE",
                          "Value.$": "$.processedFiles.orders"
                        },
                        {
                          "Name": "PRODUCTS_FILE",
                          "Value": "none"
                        },
                        {
                          "Name": "OUTPUT_FILE",
                          "Value": "s3://real-time-bucket-p4-zuki/temp/orders_transformed.csv"
                        }
                      ]
                    }
                  ]
                }
              },
              "ResultPath": "$.transformOutput.orders",
              "End": true
            }
          }
        },
        {
          "StartAt": "Transform Order Items",
          "States": {
            "Transform Order Items": {
              "Type": "Task",
              "Resource": "arn:aws:states:::ecs:runTask.sync",
              "Parameters": {
                "Cluster": "ecommerce-pipeline-cluster",
                "TaskDefinition": "transform-task",
                "LaunchType": "FARGATE",
                "NetworkConfiguration": {
                  "AwsvpcConfiguration": {
                    "Subnets": [
                      "subnet-0d8436345ee46b7b8",
                      "subnet-0c258e856f0e04aca"
                    ],
                    "SecurityGroups": ["sg-0222dcff8c650af7c"],
                    "AssignPublicIp": "ENABLED"
                  }
                },
                "Overrides": {
                  "ContainerOverrides": [
                    {
                      "Name": "transform-container",
                      "Environment": [
                        {
                          "Name": "INPUT_FILE",
                          "Value.$": "$.processedFiles.order_items"
                        },
                        {
                          "Name": "PRODUCTS_FILE",
                          "Value": "s3://real-time-bucket-p4-zuki/data/products.csv"
                        },
                        {
                          "Name": "OUTPUT_FILE",
                          "Value": "s3://real-time-bucket-p4-zuki/temp/order_items_transformed.csv"
                        }
                      ]
                    }
                  ]
                }
              },
              "ResultPath": "$.transformOutput.order_items",
              "End": true
            }
          }
        }
      ],
      "ResultPath": "$.transformResults",
      "Next": "Compute Kpis"
    },
    "Compute Kpis": {
      "Type": "Task",
      "Resource": "arn:aws:states:::ecs:runTask.sync",
      "Parameters": {
        "Cluster": "ecommerce-pipeline-cluster",
        "TaskDefinition": "compute-task",
        "LaunchType": "FARGATE",
        "NetworkConfiguration": {
          "AwsvpcConfiguration": {
            "Subnets": ["subnet-0d8436345ee46b7b8", "subnet-0c258e856f0e04aca"],
            "SecurityGroups": ["sg-0222dcff8c650af7c"],
            "AssignPublicIp": "ENABLED"
          }
        },
        "Overrides": {
          "ContainerOverrides": [
            {
              "Name": "compute-container",
              "Environment": [
                {
                  "Name": "ORDER_ITEMS_FILE",
                  "Value": "s3://real-time-bucket-p4-zuki/temp/order_items_transformed.csv"
                },
                {
                  "Name": "ORDERS_FILE",
                  "Value": "s3://real-time-bucket-p4-zuki/temp/orders_transformed.csv"
                },
                {
                  "Name": "CATEGORY_OUTPUT_FILE",
                  "Value": "s3://real-time-bucket-p4-zuki/output/category_kpis.csv"
                },
                {
                  "Name": "ORDER_OUTPUT_FILE",
                  "Value": "s3://real-time-bucket-p4-zuki/output/order_kpis.csv"
                }
              ]
            }
          ]
        }
      },
      "ResultPath": "$.computeOutput",
      "Next": "Write to DynamoDB"
    },
    "Write to DynamoDB": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke.waitForTaskToken",
      "Parameters": {
        "FunctionName": "write_to_dynamodb",
        "Payload": {
          "category_kpi_file": "s3://real-time-bucket-p4-zuki/output/category_kpis.csv",
          "order_kpi_file": "s3://real-time-bucket-p4-zuki/output/order_kpis.csv",
          "category_table": "category-Level-table",
          "order_table": "order-level-table",
          "taskToken.$": "$$.Task.Token"
        }
      },
      "End": true
    }
  }
}
